
.tftable {font-size:12px;width:100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;width:90%;direction: rtl;}
.tftable th {font-size:14px;color:#ffffff;background-color:#3db2e1;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:center;}
.tftable tr {background-color:#cccccc;}
.tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:center;}
.tftable tr:hover {background-color:#cccccc;}


