.tabtry {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.tabtry table{
	dir:rtl;
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.tabtry tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.tabtry table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.tabtry table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.tabtry tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.tabtry tr:hover td{
	background-color:#cccccc;
		

}
.tabtry td{
	vertical-align:middle;
	
	background-color:#cccccc;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:7px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.tabtry tr:last-child td{
	border-width:0px 1px 0px 0px;
}.tabtry tr td:last-child{
	border-width:0px 0px 1px 0px;
}.tabtry tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.tabtry tr:first-child td{
		background:-o-linear-gradient(bottom, #3db2e1 5%, #3db2e1 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3db2e1), color-stop(1, #3db2e1) );
	background:-moz-linear-gradient( center top, #3db2e1 5%, #3db2e1 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#3db2e1", endColorstr="#3db2e1");	background: -o-linear-gradient(top,#3db2e1,3db2e1);

	background-color:#3db2e1;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	color:#f7f2f2;
}
.tabtry tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #3db2e1 5%, #3db2e1 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3db2e1), color-stop(1, #3db2e1) );
	background:-moz-linear-gradient( center top, #3db2e1 5%, #3db2e1 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#3db2e1", endColorstr="#3db2e1");	background: -o-linear-gradient(top,#3db2e1,3db2e1);

	background-color:#3db2e1;
}
.tabtry tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.tabtry tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}